html {
    height: 100%;
}

@font-face{
    font-family: 'sevensegment';
    src: url('img/Segment7Standard.otf');
}


body {
    height: 100%;
    margin: 0;
    touch-action: none;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rento {
    width: 500px;
    height: 500px;
    background: url('img/rento.png') no-repeat center;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.ring {
    grid-row: 1;
    grid-column: 1;
    width: 500px;
    height: 500px;
    background: url('img/ring.png') no-repeat center;
    background-size:100%;
    background-position: 49.5% 51%;
}

.segmentDisp {
    background-color: rgba(255, 255, 255, 0.05);

    padding: 3px 15px 3px 15px;
    border-radius: 6px;

    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px 0px inset, rgba(0, 0, 0, 0.3) -2px -2px 4px 1px inset;
    font-family: 'sevensegment';
    font-size: 28pt;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    justify-self: center;
    margin-bottom: 166px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
}

    .segmentDisp .dispValue {
        grid-row: 1;
        grid-column: 1;
        color: #ff0000dd;
        filter: blur(0.6px);
        text-align: end;
    }
    .segmentDisp .dispBackdrop {
        grid-row: 1;
        grid-column: 1;
        color: #6c6c6c88;
    }


canvas {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 198px;
}

